.correctGuess {
    border: solid 1px black;
    background-color: lightgreen;
    font-size: 30px;
}

.wrongGuess {
    border: solid 1px black;
    background-color: lightcoral;
    font-size: 30px;
}

.column {
    font-size: 30px;
}