.section {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    font-size: 23px;
    text-align: left;
}

.howToPlayContainer {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.guessNumberExample {
    display: flex;
}

.backButton {
    border: solid 3px black;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}

.backButton::before {
    content: "←";
    margin-right: 8px;
}

.backButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}