.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.activeGuess:after {
    color: green;
    content: "✓";
    font-size: 30px;
}

.inactiveGuess:after {
    color: red;
    content: "✗";
    font-size: 30px;
}